@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Playfair+Display:wght@700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 1px dotted grey; */
	font-size: 100%;
    font: inherit;
    font-family: 'Mulish', sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    /* width: 60%; */
    margin: auto;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

html{
    /* background-color: #dedfd9; */
    background-color: #F0F3BD;
    /* background-image: url("https://images.unsplash.com/photo-1595341589548-0c32d1d4a816?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80"); */
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

nav{
    display: flex;
    /* background-color: #a75b05; */
    background-color: #05668D;
    justify-content: space-evenly;
    padding:1%;
    align-items: center;
    color: white;
}
nav p{
    border-left:1px solid black;
    border-right:1px solid black;
    padding:2%;
    font-size: 1.5rem;    
}
nav p a:hover{
    color: black;
}
h1{
    background-color: #ebece6d7;
    border-radius: 15px;
}
a{
    text-decoration: none;
    color:whitesmoke;

}

h1, h2, h3{
    font-family: 'Playfair Display', serif;
}

h2{
    font-size: 3rem;
    text-align: left;
}

#banner{
    height: 60vh;
    /* background-image: url("https://images.unsplash.com/photo-1595532918087-b45afb59a5ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80"); */
    /* background-image: url("https://images.unsplash.com/photo-1453946610176-6be21147c400?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1776&q=80"); */
    background-image: url("https://images.unsplash.com/photo-1595801161822-6850339d5a5c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80");
    background-color: transparent;
    display: flex;
    margin: auto;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
}

#banner h1{
    margin: auto;
    font-size: 8rem;
}

.top{
    margin: 5% auto;
    width: 88%;
    padding: 2%;
}

.middle{
    display: flex;
    justify-content: space-evenly;

}

.middle div{
    background-color: #028090;
    
    /* background-color: #F2CC8F;
    background-color: #81B29A; */
    border-radius: 15px;
    margin: 1%;
    padding: 2%;
}
#second, #second div{
    background-color: #00A896;
    color:rgba(255, 255, 255, 0.849);    
}

#last, #last div{
    background-color: #02C39A;
}

.middle div img{
    width: 100%;
    margin: 1% auto;
    border-radius: 15px;
}

h3{
    font-size: 2rem;
    text-align: center;
}

.cta{
    padding: 2%;
    margin: auto;
}

footer div{
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
}

footer div p{
    border-left:1px solid black;
    border-right:1px solid black;
    padding:1.2%;
    font-size: 1.3rem;
    background-color: transparent;
}
footer div p a{
    color: whitesmoke;
}
footer{
    background-image: url("https://images.unsplash.com/photo-1595766777190-2492d14b9d01?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2848&q=80");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment:fixed;}

footer div p a:hover{
    color: whitesmoke;
}
@media (max-width: 800px){
    h1{
        font-size: 3rem;
    }
    body{
        width: 95%;
    }

    header section.banner{
        height: 30vh;
    }
    .middle{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .middle div{
        display: flex;
        width:90%;
        flex-direction: row;
        align-items: center;
        padding: 2%;    
    }
    /* .content{
        display: flex;
        flex-direction: column;
    } */
    .middle div div.content{
        display: flex;
        flex-flow: column;
    }
    .middle div img{
        width: 35%;
    }
    #second{
        display: flex;
        flex-flow: row-reverse;
    }
}

@media (max-width:500px){
    .middle{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .middle div{
        display: flex;
        width:80%;
        flex-direction: column;
        align-items: center;    
        margin: 3%;
    }
    #middle div div.content{
        display: flex;
        /* flex-direction: column; */
    }
    .middle div img{
        width:80%;
    }
    #second{
        flex-flow: column;
    }
}
